/* General */
/* normalisation de ma page RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited{
color:white;
text-decoration: none;
padding-left:2rem;
padding-right:2rem;
}

.active{
background-color:#444;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    color:#222;
}

.centerText{
    text-align:center;   
}
/* index.html*/
/* header */

header{
    
}

h1{
    font-size:36px;
    color:white;
    padding:1.23rem;
}

li{
    display:inline-flex;
    line-height: 6rem;
    color:white;
    font-size: 25px;
}

/* section 1 */

.background{
    background-image: url("../img/frame.jpg");
    background-size: 100vmax;
    background-position: top;
    padding:19rem;
    text-align:center;
    color:white;
    background-repeat: no-repeat;
}

h2{
    padding-left:8rem;
    padding-right:8rem;
    font-size: 5rem;
    margin-bottom:1rem;
    line-height: 6rem;
    margin-top: -6rem;
}

hr{
    background-color: black;
    border:0px;
    height:13px;
    margin-bottom:1rem;
    width: 8rem;
    margin:auto;
}

.desc{
    font-size: 25px;
    margin-top: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

/*bouton découvrir*/
div > a[href="./src/pages/where.html"]{
    background-color:white;
    color:black;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    border-radius: 50px;
    padding:25px 32px;
    font-size:20px;
    text-transform: uppercase;
    font-weight: bold;
}

div > a[href="./src/pages/where.html"]:hover{
    color:white;
    background-color:black;
    border-width: 1px;
    border-style: solid;
    border-color:white;
}

/* section 2 */

#wrapper{
    display:flex;
    margin-left: 20rem;
    margin-right: 20rem;
    text-align:center;
    margin-top:5rem;
    margin-bottom: 5rem;
}

#left{
    flex:0 0 50%;
    font-size: 20px;
    line-height: 2rem;
}

#right{
    flex:1;
    font-size: 20px;
    line-height: 2rem;
}

i{
    margin-bottom: 1rem;
}

/* image */

#img{
    background-image: url("../img/person-1.jpg");
    background-position: center  ;
    padding-top: 37rem;
    padding-bottom: 37rem;
    margin-bottom:6rem;
}

/* section 3 */

h3{
    font-size: 2rem;
    padding-bottom:1rem;
    margin-bottom:1rem;
}

.size{
    font-size:25px;
    padding-left:10rem;
    padding-right:10rem;
    line-height: 35px;
    margin-bottom:7rem;
}

.spacing{
    margin-bottom:4rem;
}

/* bouton reserver */

div > a[href="./src/pages/contact.html"]{
    background-color:black;
    color:white;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    border-radius: 50px;
    padding:25px 32px;
    font-size:20px;
    text-transform: uppercase;
    font-weight: bold;
}

div > a[href="./src/pages/contact.html"]:hover{
    color:black;
    background-color:white;
    border-width: 1px;
    border-style: solid;
    border-color:black;
}

/* footer */

footer{
    text-align: center;
    color:white;
    background-color: #333;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 22px;
}

/*contact.html*/

.dimension{
    width: 100vmax;
    height: 48vmax;
    padding-left:30rem;
    padding-top:18rem;
    margin-bottom:15rem;
}

label{
    font-size:25px;
    font-weight: bold;
    line-height: 80px;
}

input{
    display:block;
    width: 950px;
    height: 70px;
    font-size: 20px;
}

textarea{
    width: 950px;
    height: 120px;
    margin-bottom: 2rem;
    font-size: 20px;
    display:block;
}

button{
    background-color:black;
    color:white;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    border-radius: 50px;
    padding:22px 32px;
    font-size:20px;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover{
    color:black;
    background-color:white;
    border-width: 1px;
    border-style: solid;
    border-color:black;
}

.ligne{
    border-top: lightgray;
    border-style: solid;
    border-width: 1px;
    width:49vmax;
    padding-left: 1rem;

}

/* where.html */

#ligne4{
    background-color:mediumorchid;
    text-align: center;
    border-radius: 50px;
    padding:3px 12px;
    color:white;
    font-weight: bold;
    font-size:25px
}

#ligne11{
    background-color:sienna;
    text-align: center;
    border-radius: 50px;
    padding:3px 6px;
    color:white;
    font-weight: bold;
    font-size:25px
}

#wrapper2{
    display:flex;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top:17rem;
    margin-bottom: 8rem;
}

#left2{
    flex:0 0 50%;
    font-size: 20px;
    line-height: 2rem;
}

#right2{
    flex:1;
    font-size: 25px;
    line-height: 2rem;
}

iframe{
    width: 680px;
    height: 450px;
}

.ligne2{
    border-top: lightgray;
    border-style: solid;
    border-width: 1px;
}

.metro{
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
}

h4{
    font-size: 40px;
    padding-bottom:1rem;
    margin-bottom:10px;
}
